In [13]:
import pandas as pd

In [14]:
data_frame = pandas.read_csv('hacker_news.csv')

In [15]:
data_frame.head()

,id,title,url,num_points,num_comments,author,created_at
0,12579008,You have two days to comment if you want stem ...,http://www.regulations.gov/document?D=FDA-2015...,1,0,altstar,9/26/16 3:26
1,12579005,SQLAR the SQLite Archiver,https://www.sqlite.org/sqlar/doc/trunk/README.md,1,0,blacksqr,9/26/16 3:24
2,12578997,What if we just printed a flatscreen televisio...,https://medium.com/vanmoof/our-secrets-out-f21...,1,0,pavel_lishin,9/26/16 3:19
3,12578989,algorithmic music,http://cacm.acm.org/magazines/2011/7/109891-al...,1,0,poindontcare,9/26/16 3:16
4,12578979,How the Data Vault Enables the Next-Gen Data W...,https://www.talend.com/blog/2016/05/12/talend-...,1,0,markgainor1,9/26/16 3:14

In [16]:
data_frame.count()

id              293119
title           293119
url             279256
num_points      293119
num_comments    293119
author          293119
created_at      293119
dtype: int64

In [17]:
# remove rows with missing information
data_frame=data_frame.dropna()

In [18]:
data_frame.count()

id              279256
title           279256
url             279256
num_points      279256
num_comments    279256
author          279256
created_at      279256
dtype: int64

In [19]:
data_frame.head()

,id,title,url,num_points,num_comments,author,created_at
0,12579008,You have two days to comment if you want stem ...,http://www.regulations.gov/document?D=FDA-2015...,1,0,altstar,9/26/16 3:26
1,12579005,SQLAR the SQLite Archiver,https://www.sqlite.org/sqlar/doc/trunk/README.md,1,0,blacksqr,9/26/16 3:24
2,12578997,What if we just printed a flatscreen televisio...,https://medium.com/vanmoof/our-secrets-out-f21...,1,0,pavel_lishin,9/26/16 3:19
3,12578989,algorithmic music,http://cacm.acm.org/magazines/2011/7/109891-al...,1,0,poindontcare,9/26/16 3:16
4,12578979,How the Data Vault Enables the Next-Gen Data W...,https://www.talend.com/blog/2016/05/12/talend-...,1,0,markgainor1,9/26/16 3:14

In [20]:
# remove rows where the number of comments was 0
df_filtered = data_frame[data_frame['num_comments'] > 0]
df_filtered.head()

,id,title,url,num_points,num_comments,author,created_at
5,12578975,Saving the Hassle of Shopping,https://blog.menswr.com/2016/09/07/whats-new-w...,1,1,bdoux,9/26/16 3:13
17,12578822,Amazons Algorithms Dont Find You the Best Deals,https://www.technologyreview.com/s/602442/amaz...,1,1,yarapavan,9/26/16 2:26
28,12578694,Emergency dose of epinephrine that does not co...,http://m.imgur.com/gallery/th6Ua,2,1,dredmorbius,9/26/16 1:54
34,12578624,Phone Makers Could Cut Off Drivers. So Why Don...,http://www.nytimes.com/2016/09/25/technology/p...,4,1,danso,9/26/16 1:37
37,12578556,"OpenMW, Open Source Elderscrolls III: Morrowin...",https://openmw.org/en/,32,3,rocky1138,9/26/16 1:24

In [21]:
df_filtered.count()

id              70664
title           70664
url             70664
num_points      70664
num_comments    70664
author          70664
created_at      70664
dtype: int64

In [25]:
# export cleaned dataframe to csv file (only run 1 time)
# df_filtered.to_csv('hacker_news_clean.csv', encoding='utf-8', index=False, header=True)